repos:
-   repo: https://github.com/pycqa/isort
    rev: 5.12.0
    hooks:
    -   id: isort
        name: isort (python)
        
-   repo: https://github.com/psf/black
    rev: 23.7.0
    hooks:
      - id: black
        language_version: python3.11

-   repo: https://github.com/pycqa/flake8
    rev: 6.1.0
    hooks:
    -   id: flake8
        additional_dependencies: [pep8-naming, flake8-comments, flake8-bugbear, 
                                  flake8-comprehensions, flake8-eradicate, flake8-print,
                                  flake8-broken-line, flake8-string-format]
