form {
    margin: 2rem auto;
    max-width: 350px;
}
form div {
    margin-bottom: 1rem;
}
form label {
    display: block;
    margin-bottom: 0.5rem;
}
form input,
form select {
    font-size: 1rem;
    padding: 0.5rem;
}
form .button {
    background: #333;
    border: none;
    color: #fff;
    font-size: 1rem;
    padding: 0.5rem 1rem;
}
form .button:hover {
    background: #555;
}
h1 {
    margin-bottom: 0;
    text-align: center;
}