h2 {
    margin-bottom: 0.5rem;
    font-size: 24px;
}
p {
    margin-bottom: 0.5rem;
}
p:last-child {
    margin-bottom: 0;
}
a {
    color: #333;
    text-decoration: none;
}
a:hover {
    text-decoration: underline;
}
.profiles {
    max-width: 1500px;
    margin-left: 15rem;
    margin-right: 15rem;
    margin-top: 2rem;
}
.profile {
    display: flex;
    align-items: flex-start;
    padding: 10px;
    border-bottom: 1px solid #ccc;
    cursor: pointer;
}
.profile:hover {
    background: #ddd;
}

.profile-avatar {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    overflow: hidden;
    flex-shrink: 0;
}
.img-avatar {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.profile-info {
    display: flex;
    width: 500px;
    flex-grow: 1;
    flex-direction: column;
    justify-content: space-between;
    word-wrap: break-word;
    margin-left: 15px;
}
.fullname {
    display: inline-block;
}
.username {
    color: #999;
    display: inline-block;
}
form {
    margin: 2rem auto;
    max-width: 350px;
}
form div {
    margin-bottom: 1rem;
}
form label {
    display: block;
    margin-bottom: 0.5rem;
}
form input,
form select {
    font-size: 1rem;
    padding: 0.5rem;
}
form .button {
    background: #333;
    border: none;
    color: #fff;
    font-size: 1rem;
    padding: 0.5rem 1rem;
}
form .button:hover {
    background: #555;
}