<!DOCTYPE html>
{% load static %}
<html>
  <head>
    <meta charset="UTF-8">
    <title>{% block title %}{% endblock title %}</title>
    <link rel="icon" href="{% static "image/logo_min.png" %}">
    <link rel="stylesheet" type="text/css" href="{% static "css/base.css" %}" type=”image/x-icon”>
    {% block static %}{% endblock static %}
  </head>
  <body>
    <nav>
        <div class="logo" onclick="window.location.href='{% url 'index' %}'; return false">
          <img src="{% static "image/logo.png" %}" alt="LOGO_ALT">
        </div>
        <ul>
          <li><a href="{% url 'index' %}">Home</a></li>
          <li><a href="{% url 'trending' %}">Trending in your country</a></li>
          <li><a href="{% url 'tags' %}">Tags</a></li>
        </ul>
        {% if user.is_authenticated %}
          <div class="profile-act">
            <button class="search" onclick="window.location.href='{% url 'search-profile' %}'; return false">&#128270;</button>
            <div class="avatar" onclick="window.location.href='{% url 'profile' user.profile.pk %}'; return false">
              {% if user.profile.avatar %}
                <img class="img-avatar" src="{{ user.profile.avatar.url }}" alt="AVATAR_ALT">
              {% else %}
                <img class="img-avatar" src="{% static "image/default-avatar.png" %}" alt="AVATAR_ALT">
              {% endif %}
            </div>
            <a href="{% url 'profile' user.profile.pk %}">Profile</a>
            <button class="notificate" onclick="window.location.href='{% url 'notification' %}'; return false">&#128276;</button>
          </div>
        {% else %}
          <ul>
            <li><a href="{% url 'signin' %}">Log in</a></li>
            <li><a href="{% url 'signup' %}">Sign up</a></li>
          </ul>
        {% endif %}
        
    </nav>
    {% block body %}{% endblock body %}
  </body>
  {% block script %}{% endblock script %}
</html>