{% extends "base.html" %}
{% load static %}
{% block title %}Sign Up{% endblock title %}
{% block static %}
<link rel="stylesheet" type="text/css" href="{% static "css/accounts/login.css" %}" type=”image/x-icon”>
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/sweetalert2@11.0.18/dist/sweetalert2.min.css">
{% endblock static %}
{% block body %}
<h1>Log in</h1>
<form method="POST">
    {% csrf_token %}
    {{ form }}
    <br>
    <br>
    <input type="submit" id="submit" class="button" value="Send">
</form>
{% endblock body %}
{% block script %}
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11.0.18/dist/sweetalert2.min.js"></script>
<script>
    document.addEventListener('DOMContentLoaded', function() {
        {% if error_message %}
        Swal.fire({
            icon: 'error',
            title: 'Error!',
            text: '{{ error_message }}',
            timer: 5000,
            timerProgressBar: true,
            toast: true,
            position: 'top-end',
            showConfirmButton: false
        });
        {% endif %}
    });
</script>
{% endblock script %}
