{% extends "base.html" %}
{% load static %}
{% block title %}Search profile{% endblock title %}
{% block static %}
<link rel="stylesheet" type="text/css" href="{% static "css/accounts/search_profile.css" %}" type=”image/x-icon”>
{% endblock static %}
{% block body %}
<form method="GET">
    {{ form }}
    <input type="submit" class="button" value="Send"> 
</form>
<div class="profiles" id="profiles">
    <hr>
  {% for profile in profiles_paginated %}
    <div class="profile" onclick="window.location.href='{% url 'profile' profile.pk %}'; return false">
      <div class="profile-avatar">
      {% if profile.avatar %}
        <img src="{{ profile.avatar.url }}" alt="avatar-alt" class="img-avatar">
      {% else %}
        <img src="{% static "image/default-avatar.png" %}" alt="avatar-alt" class="img-avatar">
      {% endif %}
      </div>
      <div class="profile-info">
          <div class="user-click">
            <div class="fullname" id="fullname">{{ profile.first_name }} {{ profile.last_name }}</div>
            <div class="username" id="username">@{{ profile.user.username }}</div>
          </div>
        {% if profile.about %}
          <p class="profile-about" id="profile-about">About me: {{ profile.about }}</p>
        {% else %}
          <p class="profile-about" id="profile-about">About me: ...</p>
        {% endif %}
      </div>
    </div>
  {% endfor %}
  {% if prev_page %}
    <a href="{% url 'search-profile' %}?page={{ prev_page }}&first_name={{ first_name }}&last_name={{ last_name }}&username={{ username }}">Prev</a>
  {% endif %}
  {% if next_page %}
    <a href="{% url 'search-profile' %}?page={{ next_page }}&first_name={{ first_name }}&last_name={{ last_name }}&username={{ username }}">Next</a>
  {% endif %}
</div>
{% endblock body %}