body {
    font-family: Arial, sans-serif;
    font-size: 18px;
    margin: 0;
    padding: 0;
}
nav {
    background: #333;
    color: #fff;
    display: flex;
    justify-content: space-between;
    padding: 1rem;
    height: 60px;
}
nav .logo img {
    height: 70px;
}
nav ul {
    display: flex;
}
nav ul li {
    margin-right: 2rem;
    list-style-type: none;
}
nav ul li:last-child {
    margin-right: 0;
}
nav a {
    color: #fff;
    text-decoration: none;
    font-size: 25px;
}
a:hover {
    color: #d9dad4;
}
.avatar {
  height: 80px;
  width: 80px;
  border-radius: 50%;
  margin-right: 1rem;
  margin-left: 1rem;
  overflow: hidden;
  flex-shrink: 0;
  cursor: pointer;
}
.img-avatar {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.profile-act {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 1%;
}
.notificate {
    font-size: 20px;
    vertical-align: 10px;
    margin-left: 10px;
    border: 0;
    background: transparent;
    cursor: pointer;
}
.logo {
    cursor: pointer;
}
.search {
    font-size: 30px;
    vertical-align: 10px;
    margin-left: 10px;
    border: 0;
    background: transparent;
    cursor: pointer;
}