{% extends "base.html" %}
{% load static %}
{% block title %}Home{% endblock title %}
{% block static %}
<link rel="stylesheet" type="text/css" href="{% static "css/core/index.css" %}" type=”image/x-icon”>
{% endblock static %}
{% block body %}
<div class="tweets">
    <hr>
    <div class="tweets-action">
      <h2>Tweets</h2>
    </div>
    {% for tweet in tweets %}
      <div class="tweet">
        <div class="tweet-avatar">
        {% if 0 %}
          <img src="" alt="avatar-alt" class="img-avatar">
        {% else %}
          <img src="{% static "image/default-avatar.png" %}" alt="avatar-alt" class="img-avatar">
        {% endif %}
        </div>
        <div class="tweet-text">
          <div class="user-name">{{ tweet.user.profile.first_name }} {{ tweet.user.profile.last_name }}</div>
          <p>{{ tweet.text }}</p>
          <div class="publication-date">{{ tweet.created_at }}</div>
        </div>
      </div>
    {% endfor %}
</div>
{% endblock body %}