{% extends "base.html" %}
{% load static %}
{% block title %}{{ tweet.text }}{% endblock title %}
{% block static %}
<link rel="stylesheet" type="text/css" href="{% static "css/core/tweet.css" %}" type=”image/x-icon”>
{% endblock static %}
{% block body %}
<div class="tweets" id="tweets">
    <hr>
    <div class="tweet">
        <div class="tweet-avatar" onclick="window.location.href='{% url 'profile' tweet.user.profile.pk %}'; return false">
            {% if tweet.user.profile.avatar %}
                <img src="{{ tweet.user.profile.avatar.url }}" alt="avatar-alt" class="img-avatar">
            {% else %}
                <img src="{% static "image/default-avatar.png" %}" alt="avatar-alt" class="img-avatar">
            {% endif %}
        </div>
        <div class="tweet-info">
            <div class="user-info" onclick="window.location.href='{% url 'profile' tweet.user.profile.pk %}'; return false">
                <div class="fullname" id="fullname">{{ tweet.user.profile.first_name }} {{ tweet.user.profile.last_name }}</div>
                <div class="username" id="username">@{{ tweet.user.username }}</div>
            </div>
        
            <p class="tweet-text" id="tweet-text">{{ tweet.text|urlize|safe }}</p>
            <div class="tweet-action">
                <div class="tweet-rating">
                    {% if tweet.user == user %}
                        <button class="self-like" id="like">&#10084;</button>
                    {% else %}
                        <button class="like" id="like" onclick="window.location.href='{% url 'tweet_like' tweet.pk %}'; return false">&#10084;</button>
                    {% endif %}
                    <div class="like-count" id="like-count">{{ tweet.rating_count }}</div>
                </div>
                <div class="tweet-reply">
                    <button class="reply" id="reply" onclick="window.location.href='{% url 'tweet_reply' tweet.pk %}'; return false">&#128101;</button>
                    <div class="reply-count" id="reply-count">{{ tweet.reply_count }}</div>
                </div>
                <div class="tweet-retweet">
                    <button class="retweet" id="retweet" onclick="window.location.href='{% url 'retweet' tweet.pk %}'; return false">&#128257;</button>
                    <div class="retweet-count" id="retweet-count">{{ tweet.retweet_count }}</div>
                </div>
                <div class="publication-date">{{ tweet.created_at }}</div>
            </div>
        </div>
    </div>
    <div class="tweets" id="tweets">
        <hr>
        {% for tweet in reply_tweets_paginated %}
            <div class="tweet">
                <div class="tweet-avatar" onclick="window.location.href='{% url 'profile' tweet.user.profile.pk %}'; return false">
                    {% if tweet.user.profile.avatar %}
                        <img src="{{ tweet.user.profile.avatar.url }}" alt="avatar-alt" class="img-avatar">
                    {% else %}
                        <img src="{% static "image/default-avatar.png" %}" alt="avatar-alt" class="img-avatar">
                    {% endif %}
                </div>
                <div class="tweet-info">
                    <div class="user-info" onclick="window.location.href='{% url 'profile' tweet.user.profile.pk %}'; return false">
                        <div class="fullname" id="fullname">{{ tweet.user.profile.first_name }} {{ tweet.user.profile.last_name }}</div>
                        <div class="username" id="username">@{{ tweet.user.username }}</div>
                    </div>
                
                    <p class="tweet-text" id="tweet-text" onclick="window.location.href='{% url 'tweet' tweet.pk %}'; return false">{{ tweet.text|urlize|safe }}</p>
                    <div class="tweet-action">
                        <div class="tweet-rating">
                            {% if tweet.user == user %}
                                <button class="self-like" id="like">&#10084;</button>
                            {% else %}
                                <button class="like" id="like" onclick="window.location.href='{% url 'tweet_like' tweet.pk %}'; return false">&#10084;</button>
                            {% endif %}
                            <div class="like-count" id="like-count">{{ tweet.rating_count }}</div>
                        </div>
                        <div class="tweet-reply">
                            <button class="reply" id="reply" onclick="window.location.href='{% url 'tweet_reply' tweet.pk %}'; return false">&#128101;</button>
                            <div class="reply-count" id="reply-count">{{ tweet.reply_count }}</div>
                        </div>
                        <div class="tweet-retweet">
                            <button class="retweet" id="retweet" onclick="window.location.href='{% url 'retweet' tweet.pk %}'; return false">&#128257;</button>
                            <div class="retweet-count" id="retweet-count">{{ tweet.retweet_count }}</div>
                        </div>
                        <div class="publication-date">{{ tweet.created_at }}</div>
                    </div>
                </div>
            </div>
        {% endfor %}
        {% if prev_page %}
        <a href="{% url 'tweet' tweet.pk %}?page={{ prev_page }}">Prev</a>
        {% endif %}
        {% if next_page %}
        <a href="{% url 'tweet' tweet.pk %}?page={{ next_page }}">Next</a>
        {% endif %}
    </div>
</div>
{% endblock body %}