{% extends "base.html" %}
{% load static %}
{% block title %}{{ profile.first_name}} {{ profile.last_name }}{% endblock title %}
{% block static %}
<link rel="stylesheet" type="text/css" href="{% static "css/accounts/profile.css" %}" type=”image/x-icon”>
{% endblock static %}
{% block body %}
<div class="profile">
  <div class="follow">
    <div class="follow-dtl">
      <h3>Followings</h3>
      <a href="{% url 'profile-followings' profile.pk %}">{{ profile.followings_count }}</a>
    </div>
    <div class="follow-dtl">
      <h3>Followers</h3>
      <a href="{% url 'profile-followers' profile.pk %}">{{ profile.followers_count }}</a>
    </div>
  </div>
  <div class="avatar-info">
    <div class="avatar-main">
      {% if profile.avatar %}
        <img src="{{ profile.avatar.url }}" alt="avatar-alt" class="img-main">
      {% else %}
        <img src="{% static "image/default-avatar.png" %}" alt="avatar-alt" class="img-main">
      {% endif %}
    </div>
    <div class="profile-info">
      <div class="profile-edit">
        <h2>{{ profile.first_name}} {{ profile.last_name }}</h2>
        {% if profile.user == user %}
          <a href="{% url 'profile-edit' %}" class="btn-edit">&#9997;</a>
        {% endif %}
      </div>
      <p>Username: {{ profile.user.username }}</p>
      <p>Email: {{ profile.user.email }}</p>
      {% if profile.country %}
        <p>Country: {{ profile.country }}</p>
      {% endif %}
      <p>Registred at: {{ profile.user.date_joined }}</p>
    </div>
  </div>
  {% if user == profile.user %}
    <div class="profile-config">
      <h2>Settings</h2>
      <div class="order-config">
        Order of displaying tweets on the main page:
        <select class="order-select" id="order-select" onchange="updateConfig()">
          {% if profile.user.config.tweets_order == "-sort_date" %}
            <option selected>Date of published</option>
            <option>Ratings count</option>
          {% else %}
            <option>Date of published</option>
            <option selected>Ratings count</option>
          {% endif %}
        </select>
      </div>
      <button type="submit" class="btn-logout" onclick="window.location.href='{% url 'logout' %}'; return false">Logout</button>
    </div>
  {% else %}
    {% if profile in user.profile.followings.all %}
      <button type="reset" class="btn-unfollow" onclick="window.location.href='{% url 'profile-unfollow' profile.pk %}'; return false">Unfollow</button>
    {% else %}
      <button type="submit" class="btn-follow" onclick="window.location.href='{% url 'profile-follow' profile.pk %}'; return false">Follow</button>
    {% endif %}
  {% endif %}
</div>
<div class="about">
  <h2>About me</h2>
  {% if profile.about %}
    <p>{{ profile.about }}</p>
  {% else %}
    <p>...</p>
  {% endif %}
</div>

<hr>
<div class="tweets" id="tweets">
  <div class="tweet-act">
    <h2>Tweets</h2>
    <button type="submit" class="btn-new-tweet" onclick="window.location.href='{% url 'create-tweet' %}'; return false">New tweet</button>
  </div>
  {% for tweet in tweets %}
    <div class="tweet">
      <div class="tweet-avatar" onclick="window.location.href='{% url 'profile' tweet.user.profile.pk %}'; return false">
      {% if tweet.user.profile.avatar %}
        <img src="{{ tweet.user.profile.avatar.url }}" alt="avatar-alt" class="img-avatar">
      {% else %}
        <img src="{% static "image/default-avatar.png" %}" alt="avatar-alt" class="img-avatar">
      {% endif %}
      </div>
      <div class="tweet-info">
        {% if tweet.is_retweet %}
          <div class="retweet-user-info" onclick="window.location.href='{% url 'profile' tweet.retweet_profile_pk %}'; return false">{{ tweet.retweet_first_name}} {{ tweet.retweet_last_name}} retweeted this at {{ tweet.sort_date }}</div>
        {% elif tweet.parent_tweet %}
          <div class="retweet-user-info" onclick="window.location.href='{% url 'tweet' tweet.parent_tweet.pk %}'; return false">reply to {{ tweet.parent_tweet.user.profile.first_name }} {{ tweet.parent_tweet.user.profile.last_name }} tweet</div>
        {% endif %}
        <div class="tweet-user-info">
          <div class="user-click" onclick="window.location.href='{% url 'profile' tweet.user.profile.pk %}'; return false">
            <div class="fullname" id="fullname">{{ tweet.user.profile.first_name }} {{ tweet.user.profile.last_name }}</div>
            <div class="username" id="username">@{{ tweet.user.username }}</div>
          </div>
          {% if tweet.user == user %}
            <div class="tweet-crud">
              <button class="tweet-edit" onclick="window.location.href='{% url 'update-tweet' tweet.pk %}'; return false">&#9998;</button>
              <button class="tweet-delete" onclick="window.location.href='{% url 'delete-tweet' tweet.pk %}'; return false">&#10006;</button>
            </div>
          {% endif %}
          {% if tweet.is_retweet and tweet.retweet_profile_pk == user.profile.pk %}
              <div class="tweet-crud">
                <button class="tweet-delete" onclick="window.location.href='{% url 'delete-retweet' tweet.retweet_pk %}'; return false">&#10006;</button>
              </div>
            {% endif %}
        </div>
        
        <p class="tweet-text" id="tweet-text" onclick="window.location.href='{% url 'tweet' tweet.pk %}'; return false">{{ tweet.text|urlize|safe }}</p>
        <div class="tweet-action">
          <div class="tweet-rating">
            {% if tweet.user == user %}
              <button class="self-like" id="like">&#10084;</button>
            {% else %}
              <button class="like" id="like" onclick="window.location.href='{% url 'tweet-like' tweet.pk %}'; return false">&#10084;</button>
            {% endif %}
            <div class="like-count" id="like-count">{{ tweet.rating_count }}</div>
          </div>
          <div class="tweet-reply">
            <button class="reply" id="reply" onclick="window.location.href='{% url 'tweet-reply' tweet.pk %}'; return false">&#128101;</button>
            <div class="reply-count" id="reply-count">{{ tweet.reply_count }}</div>
          </div>
          <div class="tweet-retweet">
            {% if tweet.retweet_profile_pk == user.profile.pk or tweet.user == user %}
              <button class="retweet-active" id="retweet">&#128257;</button>
            {% else %}
              <button class="retweet" id="retweet" onclick="window.location.href='{% url 'retweet' tweet.pk %}'; return false">&#128257;</button>
            {% endif %}
            <div class="retweet-count" id="retweet-count">{{ tweet.retweet_count }}</div>
          </div>
          <div class="publication-date">{{ tweet.created_at }}</div>
        </div>
      </div>
    </div>
  {% endfor %}
  {% if prev_page %}
    <a href="{% url 'profile' profile.pk %}?page={{ prev_page }}">Prev</a>
  {% endif %}
  {% if next_page %}
    <a href="{% url 'profile' profile.pk %}?page={{ next_page }}">Next</a>
  {% endif %}
</div>
{% endblock body %}
{% block script %}
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>
function updateConfig() {
  var selectedOption = $("#order-select").val();

  $.ajax({
    url: "../update_config/",
    type: "POST",
    data: {
      option: selectedOption,
      csrfmiddlewaretoken: "{{ csrf_token }}"
    },
    success: function(response) {
      console.log(response);
    },
    error: function(xhr, errmsg, err) {
      console.log(xhr.status + ": " + xhr.responseText);
    }
  });
}
</script>
{% endblock script %}