.tweets {
    max-width: 1500px;
    margin-left: 15rem;
    margin-right: 15rem;
    margin-top: 2rem;
}  
.tweet {
    display: flex;
    align-items: flex-start;
    padding: 10px;
    border-bottom: 1px solid #ccc;
    border-radius: 10px;
}
.tweet-text {
    cursor: pointer;
}
.tweet:hover {
    background: #ddd;
}  
.tweet-avatar {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    overflow: hidden;
    flex-shrink: 0;
    cursor: pointer;
}
.img-avatar {
    width: 100%;
    height: 100%;
    object-fit: cover;
}  
.tweet-info {
    display: flex;
    width: 500px;
    flex-grow: 1;
    flex-direction: column;
    justify-content: space-between;
    word-wrap: break-word;
    margin-left: 15px;
}  
.user-info {
    display: flex;
    font-weight: bold;
    margin-bottom: 5px;
    cursor: pointer;
}
.username {
    color: #999;
}  
.publication-date {
    font-size: 12px;
    color: #999;
    align-self: center;
}
.tweet-action {
    display: flex;
    justify-content: flex-end;
}
.tweet-rating {
    display: flex;
    justify-content: center;
    margin-right: 10px;
}
.tweet-reply {
    display: flex;
    justify-content: center;
    margin-right: 10px;
}
.tweet-retweet {
    display: flex;
    justify-content: center;
    margin-right: 30px;
}
.retweet-user-info {
    font-size: smaller;
    cursor: pointer;
}
.like {
    border: 0;
    background: transparent;
    cursor: pointer;
}
.self-like {
    border: 0;
    background: transparent;
}
.reply {
    border: 0;
    background: transparent;
    cursor: pointer;
}
.retweet {
    border: 0;
    background: transparent;
    cursor: pointer;
}
form {
    margin: 2rem auto;
    max-width: 350px;
}
form div {
    margin-bottom: 1rem;
}
form label {
    display: block;
    margin-bottom: 0.5rem;
}
form input,
form select {
    font-size: 1rem;
    padding: 0.5rem;
}
form .button {
    background: #333;
    border: none;
    color: #fff;
    font-size: 1rem;
    padding: 0.5rem 1rem;
}
form .button:hover {
    background: #555;
}
h1 {
    margin-bottom: 0;
    text-align: center;
}
.tweet-text a:hover {
    color: blue;
}
